<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" href="../assets/images/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/vendor/owl-slider.css"/>
        <title>Contact 2</title>
    </head>
    <body>
         <header id="header" class="header-v3">
            <div id="topbar">
                <div class="container">
                    <div class="topbar-left">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                             <h3 style="  color: white;">logged in as <strong>{{ app.user.username }}</strong></h3>
                        {% endif %}
                    </div>
                    <!-- End topBar-left -->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <h2><a href={{ logout_url(key = null) }}>logout</a></h2>
                    <div class="topbar-right">
                            <a class="" href="{{path('fos_user_profile_edit')}}" title="edit profile"><i class="zmdi zmdi-account"></i>Edit Profile</a>
                    </div> 
                    {% else %}
                    <div class="topbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="" href="{{path('fos_user_profile_edit')}}" title="edit profile"><i class="zmdi zmdi-account"></i>Edit Profile</a>
                        {% endif %}
                        <a class="" href="login" title="login"><i class="zmdi zmdi-account"></i>Login</a>
                        <a class="" href="register" title="register"><i class="zmdi zmdi-account"></i>Register</a>
                    </div>        
                    {% endif %}
                    <!-- End topbar-right -->
                </div>
                <!-- End container -->

            </div>
            
            <!-- End Top Bar -->
            <div class="header-top">
                    <div class="container">
                    <div class="inner-container">
                        <p class="icon-menu-mobile"><span class="icon-bar"></span></p>
                        <div class="logo"><a href="#" title="Dana-Logo"><img src="assets/images/Dana-menu-logo.png" alt="Dana-Logo"></a></div>
                        <div class="menu-top">
                            <ul class="nav-top">
                                <li class="level1"><a href="{{ path('home')}}" title="home">Home</a>
                                    
                                </li>
                                <li class="level1"><a href="{{ path('article_index')}}" title="Shop">Shop</a>
                                    
                                </li>
                                
                                <li class="level1"><a href="{{ path('contact')}}" title="Page">Contact</a>
                                    
                                </li>
                            </ul>
                        </div>
                        <div class="search">
                            <div class="search-form">
                                <form action="#" method="get">
                                    <div class="search-select">
                                        <i class="zmdi zmdi-chevron-down"></i>
                                        <select name="orderby" class="category-search">
                                            <option value="">Select Category</option>
                                            <option value="Headphone">Headphone</option>
                                            <option value="Smart phone">Smart phone</option>
                                            <option value="game consoles">game consoles</option>
                                            <option value="Laptop">Laptop</option>
                                            <option value="televison">televison</option>
                                        </select>
                                    </div>
                                    <!-- End search Select -->
                                    <input type="text" autocomplete="off" placeholder="search Keywork " value="" class="ajax_autosuggest_input ac_input" name="s">
                                    <button type="submit" class="icon-search">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- End search -->
                    </div>  
                    <!-- End inner container -->
                    </div>
                    <!-- End container -->
                </div>
                <!-- End header-top -->
                <nav class="mega-menu">
                <div class="container">
                      <!-- End Dropdow Menu -->
                  </ul>
                  <div class="menu-icon-right">
                    <div class="cart dropdown">
                    <div class="cart-list dropdown-menu">
                        <ul class="list">
                             {% for panier in paniers %}
                                    {% for panier in panier.Article %}
                            <li>
                               
                                <a href="#" title="" class="cart-product-image"><img src="../uploads/"{{ panier.image }} alt="Product"></a>
                                <div class="text">
                                    <p class="product-name">{{ panier.nom }}</p>
                                    <p class="product-price">{{ panier.prix }}</p>
                                </div>
                                <a href="#" class="delete-item">
                                    <i class="zmdi zmdi-close-circle-o">{{ include('panier/_delete_form.html.twig') }}</i>
                                </a>
                            </li>   
                            {% endfor %}
                        {% endfor %}                             
                        </ul>
                        <p class="total"><span>Total cost</span> $1121.98</p>
                        <a class="checkout" href="#" title="view cart">view cart</a>
                        <a class="checkout bg-black" href="#" title="check out">Check out</a>
                    </div>
                </div>
                  </div>
                  </div>
                  <!-- End container -->
                </nav>
                <!-- End mega menu -->
        </header><!-- /header -->
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li class="active">Contact</li>
                </ul>
            </div>
            <!-- End container -->
        </div> 
          <div class="main-content">
                 <div class="container">
                    <div class="title-ver3 title-ver4">
                        <h4>Get in touch</h4>
                        <h3><span>C</span>ontact from</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
                    </div>
                    <div class="contact-content">
                        <div class="contact-form contact-form-bg">
                            <form class="form-horizontal">
                                <div class="form-group col-md-6">
                                    <label class=" control-label" for="inputName">Your name</label>                            
                                    <input type="text" class="form-control" id="inputName" placeholder="Name">                        
                                </div>
                                <div class="form-group col-md-6">
                                    <label class=" control-label" for="inputEmail">Your Mail</label>                            
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">                   
                                </div>
                                <div class="form-group col-md-12">
                                    <label class=" control-label" for="message">massage</label>
                                    <textarea class="form-control" id="message" name="massage"></textarea>
                                    <div class="checkbox space-10">
                                    </div>
                                    <button class="btn link-button width-100" type="submit">Send your message</button>
                                </div>
                            </form>
                        </div>
                        <!-- End col-md-9 -->
                    </div>
                </div>   
                <!-- End container -->
                <div class="title-ver3 title-ver4">
                        <h4>Get in touch</h4>
                        <h3><span>C</span>ontact info</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
                    </div>
                <!-- End contact content -->
                <div id="googleMap2"></div>
                <div class="container">
                    <div class="box-icon-adress">
                    <div class="col-md-4">
                        <div class="feature-box feature-box-v3 feature-box-center space-30">
                            <div class="fbox-icon">
                                <a href="#"><img src="../assets/images/contact2-icon-adress1.png" alt="icons"></a>
                            </div>
                            <div class="fbox-body">                            
                                <h4>Our Address</h4> 
                                <p>150 - CUa dong - ba dinh - Ha Noi.</p>
                            </div>                              
                        </div>
                    </div>
                    <!-- End col-md-4 -->
                    <div class="col-md-4">
                        <div class="feature-box feature-box-v3 feature-box-center space-30">
                            <div class="fbox-icon">
                                <a href="#"><img src="../assets/images/contact2-icon-adress2.png" alt="icons"></a>
                            </div>
                            <div class="fbox-body">                            
                                <h4>Phone number</h4> 
                                <p>(+84) 8445.567 - (+84) 7564.7755</p>
                            </div>                              
                        </div>
                    </div>
                    <!-- End col-md-4 -->
                    <div class="col-md-4">
                        <div class="feature-box feature-box-v3 feature-box-center space-30">
                            <div class="fbox-icon">
                                <a href="#"><img src="../assets/images/contact2-icon-adress3.png" alt="icons"></a>
                            </div>
                            <div class="fbox-body">                            
                                <h4>Email address</h4> 
                                <p>Damastore@gmail.com.</p>
                            </div>                              
                        </div>
                    </div>
                    <!-- End col-md-4 -->
                    <div class="border-cotact2">
                        <img src="../assets/images/border-contact2.png" alt="border">
                    </div>
                    </div>
                    <!-- End container -->
                </div>
                <!-- End box-icon-adress -->
                <div class="container">
                    <div class="adress-info">
                        <div class="col-md-3">
                            <div class="items">
                                <span class="icon">1</span>
                                <h3>StoreDama 01</h3>
                                <p><span>Address: </span>47 Hao Nam - Dong Da - Ha Noi - Viet Nam</p>
                                <p><span>Phone: </span>(+84) 163.5545.42</p>
                            </div>
                        </div>
                        <!-- End col-md-3 -->
                        <div class="col-md-3">
                            <div class="items">
                                <span class="icon">2</span>
                                <h3>StoreDama 02</h3>
                                <p><span>Address: </span>47 Hao Nam - Dong Da - Ha Noi - Viet Nam</p>
                                <p><span>Phone: </span>(+84) 163.5545.42</p>
                            </div>
                        </div>
                        <!-- End col-md-3 -->
                        <div class="col-md-3">
                            <div class="items">
                                <span class="icon">3</span>
                                <h3>StoreDama 03</h3>
                                <p><span>Address: </span>47 Hao Nam - Dong Da - Ha Noi - Viet Nam</p>
                                <p><span>Phone: </span>(+84) 163.5545.42</p>
                            </div>
                        </div>
                        <!-- End col-md-3 -->
                        <div class="col-md-3">
                            <div class="items">
                                <span class="icon">4</span>
                                <h3>StoreDama 04</h3>
                                <p><span>Address: </span>47 Hao Nam - Dong Da - Ha Noi - Viet Nam</p>
                                <p><span>Phone: </span>(+84) 163.5545.42</p>
                            </div>
                        </div>
                        <!-- End col-md-3 -->
                    </div>
                </div>
                <!-- end adress Info -->
          </div>
          <!-- End MainContent -->
          <div class="newsletter">
              <div class="container">
                <h3><a href="#" title="sign up">sign up</a> to newsletter</h3>
                <p>and receilve $20 coupon for first shopping</p>
                    <form action="#" method="get" accept-charset="utf-8">
                        <input type="text" onblur="if (this.value == '') {this.value = 'Enter your email';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter your emaill" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                        <button class="button button1" title="Subscribe" type="submit"></button>
                    </form>
              </div>
              <!-- End container -->
          </div>
          <!-- End newsletter -->
          <footer id="footer">
              <div class="container">
                <div class="row footer-top">
                    <div class="col-md-5">
                        <a class="logo" href="#" title="logo"><img src="../../assets/images/Dana-menu-logo.png" alt="Logo"></a>
                        <p class="italic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        <div class="infomation">
                            <p><i class="zmdi zmdi-pin"></i>PO Box CT16122 Collins Street West, Victoria 8007, Australia.</p>
                            <p><i class="zmdi zmdi-phone"></i>+81 (2) 345 6789</p>
                            <p><i class="zmdi zmdi-email"></i>engotheme@gmail.com</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Quick link</h3>
                        <ul class="menu">
                            <li><a href="#" title="Headphone">Headphone</a></li>
                            <li><a href="#" title="Smart watch">Smart watch</a></li>
                            <li><a href="#" title="Smartphone">Smartphone</a></li>
                            <li><a href="#" title="Video game & consoles">Video game & consoles</a></li>
                            <li><a href="#" title="Laptop">Laptop</a></li>
                            <li><a href="#" title="Televison">Televison</a></li>
                            <li><a href="#" title="Home">Home</a></li>
                            <li><a href="#" title="About us">About us</a></li>
                            <li><a href="#" title="Blog">Blog</a></li>
                            <li><a href="#" title="Service">Service</a></li>
                            <li><a href="#" title="Contact us">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Customer care</h3>
                        <ul class="menu">
                            <li><a href="#" title="My account">My account</a></li>
                            <li><a href="#" title="Order tracking">Order tracking</a></li>
                            <li><a href="#" title="wish list">wish list</a></li>
                            <li><a href="#" title="customer service">customer service</a></li>
                            <li><a href="#" title="Returns/ Exchage">Returns/ Exchage</a></li>
                            <li><a href="#" title="FAQS">FAQS</a></li>
                            <li><a href="#" title="Product support">Product support</a></li>
                        </ul>
                    </div> 
                </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                    <div class="col-md-8">
                         <p>&copy; COPYRIGHT 2016 BY ENGOTHEME</p>
                         <a href="" title="facebook"><i class="zmdi zmdi-facebook"></i></a>
                         <a href="#" title="google"><i class="zmdi zmdi-google-plus"></i></a>
                         <a href="#" title="instagram"><i class="zmdi zmdi-instagram"></i></a>
                         <a href="#" title="twitter"><i class="zmdi zmdi-twitter"></i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" title="Payment"><img src="../assets/images/Hermes-footer-payment.png" alt="payment"></a>
                    </div>
                </div>
              </div>
              <!-- End container -->
          </footer>
        <script type="text/javascript" src="../assets/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/js/owl.carousel.min.js"></script>
        
        <script type="text/javascript" src="../assets/js/store.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="../assets/js/map-icons.js"></script>
    </body>
</html>

