{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

<head>
        <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../../dash.css"/>
        <link rel="stylesheet" type="text/css" href="../../assets/vendor/range-price.css"/>
        <link rel="stylesheet" type="text/css" href="../../assets/vendor/owl-slider.css"/>

    </head>


<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
<a href="#" title="Dana-Logo"><img src="../../assets/images/Dana-menu-logo.png" alt="Dana-Logo"></a>


                    <div class="nom">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <h3 style="  color: white;">administrateur <strong>{{ app.user.username }}</strong> <a href={{ logout_url(key = null) }}>logout</a></h3>
                    {% endif %}
                    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="dashboard">
                  <i class="zmdi zmdi-widgets"></i>
                  Articles <span class="sr-only">(current)</span>
                </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="categorie">
                  <i class="zmdi zmdi-file-text"></i>
                  categories
                </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="commande">
                  <i class="zmdi zmdi-shopping-cart"></i>
                  commandes
                </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                  <i class="zmdi zmdi-accounts"></i>
                  profile
                </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
            <div class="card-list">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card blue">
                            <div class="title">nombre </div>
                            <i class="zmdi zmdi-upload"></i>
                            <div class="value">{{nbuser}}</div>
                            <div class="stat">utilisateurs</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card green">
                            <div class="title">nombre</div>
                            <i class="zmdi zmdi-upload"></i>
                            <div class="value">{{nbarticle}}</div>
                            <div class="stat"><b>Articles</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card orange">
                            <div class="title">nombre</div>
                            <i class="zmdi zmdi-download"></i>
                            <div class="value">{{nbcategorie}}</div>
                            <div class="stat"><b>categorie</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card red">
                            <div class="title">nombre</div>
                            <i class="zmdi zmdi-download"></i>
                            <div class="value">{{nbcommande}}</div>
                            <div class="stat">commande</div>
                        </div>
                    </div>
                </div>
            </div>
            
        {{ include('article/_form.html.twig') }}
            <div class="projects mb-4">
                <div class="projects-inner">
                    <header class="projects-header">
                        <div class="title">{{nbarticle}}</div>
                        <div class="count">Articles</div>
                        
                    </header>
                    <table class="projects-table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Id</th>
                                <th>Description</th>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tr>
                             {% for article in articles %}
                            <td  class="member"><figure><img src="../../uploads/{{ article.image }}" /></figure></td>
                            <td>{{ article.id }}</td>
                            <td>{{ article.description }}</td>
                            <td>{{ article.nom }}</td>
                            <td>{{ article.prix }}</td>
                            <td>
                                    <a type="button" class="btn btn-info" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                                    {{ include('article/_delete_form.html.twig') }} 
                                
                            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
                        
                </div>
           
        </main>
    </div>
    <script type="text/javascript" src="../../assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../dash.ts"></script>
</div>



{% endblock %}