<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" href="../assets/images/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/vendor/owl-slider.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/vendor/settings.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/vendor/animate.css"/>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <title>Home Version 3</title>
    </head>
    <body>
        <header id="header" class="header-v3">
            <div id="topbar">
                <div class="container">
                    <div class="topbar-left">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                             <h3 style="  color: white;">logged in as <strong>{{ app.user.username }}</strong></h3>
                        {% endif %}
                    </div>
                    <!-- End topBar-left -->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <h2><a href={{ logout_url(key = null) }}>logout</a></h2>
                    <div class="topbar-right">
                            <a class="" href="{{path('fos_user_profile_edit')}}" title="edit profile"><i class="zmdi zmdi-account"></i>Edit Profile</a>
                    </div> 
                    {% else %}
                    <div class="topbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="" href="{{path('fos_user_profile_edit')}}" title="edit profile"><i class="zmdi zmdi-account"></i>Edit Profile</a>
                        {% endif %}
                        <a class="" href="login" title="login"><i class="zmdi zmdi-account"></i>Login</a>
                        <a class="" href="register" title="register"><i class="zmdi zmdi-account"></i>Register</a>
                    </div>        
                    {% endif %}
                    <!-- End topbar-right -->
                </div>
                <!-- End container -->

            </div>
            
            <!-- End Top Bar -->
            <div class="header-top">
                    <div class="container">
                    <div class="inner-container">
                        <p class="icon-menu-mobile"><span class="icon-bar"></span></p>
                        <div class="logo"><a href="#" title="Dana-Logo"><img src="../assets/images/Dana-menu-logo.png" alt="Dana-Logo"></a></div>
                        <div class="menu-top">
                            <ul class="nav-top">
                                <li class="level1"><a href="{{ path('home')}}" title="home">Home</a>
                                    
                                </li>
                                <li class="level1"><a href="{{ path('article_index')}}" title="Shop">Shop</a>
                                    
                                </li>
                                
                                <li class="level1"><a href="{{ path('contact')}}" title="Page">Contact</a>
                                    
                                </li>
                            </ul>
                        </div>
                        <div class="search">
                            <div class="search-form">
                                <form action="#" method="get">
                                    <div class="search-select">
                                        <i class="zmdi zmdi-chevron-down"></i>
                                        <select name="orderby" class="category-search">
                                            <option value="">Select Category</option>
                                            <option value="Headphone">Headphone</option>
                                            <option value="Smart phone">Smart phone</option>
                                            <option value="game consoles">game consoles</option>
                                            <option value="Laptop">Laptop</option>
                                            <option value="televison">televison</option>
                                        </select>
                                    </div>
                                    <!-- End search Select -->
                                    <input type="text" autocomplete="off" placeholder="search Keywork " value="" class="ajax_autosuggest_input ac_input" name="s">
                                    <button type="submit" class="icon-search">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- End search -->
                    </div>  
                    <!-- End inner container -->
                    </div>
                    <!-- End container -->
                </div>
                <!-- End header-top -->
                <!-- End header-top -->
                <nav class="menu-mobile">
                    <ul class="nav">
                        <li class="level1"><a href="#" title="Headphone">Headphone</a>
                            <ul class="menu-level-1">
                                <li class="level2"><a href="#" title="Home 1" target="_blank">Headphone 1</a></li>
                                <li class="level2"><a href="#" title="Home 2" target="_blank">Headphone 2</a></li>
                                <li class="level2"><a href="#" title="Home 3" target="_blank">Headphone 3</a></li>
                                <li class="level2"><a href="#" title="Home 4" target="_blank">Headphone 4</a></li>
                            </ul>
                        </li>
                        <li class="level1">
                            <a href="#" title="Smart watch">Smart watch</a>
                            <ul class="menu-level-1">
                                <li class="level2">
                                <a href="#">Laptop</a>
                                    <ul class="menu-level-2">
                                        <li class="level3"><a href="#" title="Apple">Apple</a></li>
                                        <li class="level3"><a href="#" title="Samsung">Samsung</a></li>
                                        <li class="level3"><a href="#" title="Sony">Sony</a></li>
                                        <li class="level3"><a href="#" title="HTC">HTC</a></li>
                                        <li class="level3"><a href="#" title="Xaomi">Xaomi</a></li>
                                        <li class="level3"><a href="#" title="LG">LG</a></li>
                                    </ul>
                                </li>
                                <li class="level2">
                                <a href="#">Accessories</a>
                                    <ul class="menu-level-2">
                                        <li class="level3"><a href="#" title="Submenu1">Submenu1</a></li>
                                        <li class="level3"><a href="#" title="Submenu2">Submenu2</a></li>
                                        <li class="level3"><a href="#" title="Submenu3">Submenu3</a></li>
                                        <li class="level3"><a href="#" title="Submenu4">Submenu4</a></li>
                                        <li class="level3"><a href="#" title="Submenu5">Submenu5</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="level1"><a href="#" title="Smart phone ">Smart phone </a></li>
                        <li class="level1"><a href="#">game consoles</a></li>
                        <li class="level1"><a href="#" title="Laptop">Laptop</a></li>
                        <li class="level1"><a href="#" title="televison">televison</a></li>
                    </ul>
                </nav>
                <nav class="mega-menu">
                <div class="container">
                      <!-- End Dropdow Menu -->
                  </ul>
                  <div class="menu-icon-right">
                    <div class="cart dropdown">
                    <div class="cart-list dropdown-menu">
                        <ul class="list">
                             {% for panier in paniers %}
                                    {% for panier in panier.Article %}
                            <li>
                               
                                <a href="#" title="" class="cart-product-image"><img src="../uploads/"{{ panier.image }} alt="Product"></a>
                                <div class="text">
                                    <p class="product-name">{{ panier.nom }}</p>
                                    <p class="product-price">{{ panier.prix }}</p>
                                </div>
                                <a href="#" class="delete-item">
                                    <i class="zmdi zmdi-close-circle-o">{{ include('panier/_delete_form.html.twig') }}</i>
                                </a>
                            </li>   
                            {% endfor %}
                        {% endfor %}                             
                        </ul>
                        <p class="total"><span>Total cost</span> $1121.98</p>
                        <a class="checkout" href="#" title="view cart">view cart</a>
                        <a class="checkout bg-black" href="#" title="check out">Check out</a>
                    </div>
                </div>
                  </div>
                  </div>
                  <!-- End container -->
                </nav>
                <!-- End mega menu -->
        </header><!-- /header -->

        <div class="slide-show-ver3">
            <div class="container">
                <div class="tp-banner-container">
                    <div class="tp-banner tp-banner-ver3" >
                        <ul>  
                            <!-- SLIDE  -->
                            <li data-transition="notransition" data-slotamount="6" data-masterspeed="1000" >
                                <!-- MAIN IMAGE -->
                                <img src="../assets/images/bg-slide-show.png" alt="bg-slide-show.png"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption large_bold_orange color-white skewfromleft customout customin size-14 weight-600 uppercase"
                                    data-x="0"
                                    data-y="80"
                                    data-captionhidden="on" 
                                    data-endeasing="Power4.easeIn" 
                                    data-endspeed="500" 
                                    data-easing="Power4.easeOut" 
                                    data-start="1600" 
                                    data-speed="800" 
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                                    data-voffset="-103" 
                                    data-hoffset="-140"
                                    style="z-index: 9">mailleur prix: <span class="color-brand"> 900 dt</span>
                                </div>
                
                                <div class="tp-caption large_bold_orange color-white skewfromleft customout size-60 weight-800 uppercase"
                                    data-x="0"
                                    data-y="125"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="800"
                                    data-start="1600"
                                    data-easing="Power4.easeOut"
                                    data-endspeed="300"
                                    data-endeasing="Power1.easeIn"
                                    data-captionhidden="on"
                                    style="z-index: 9">Samsung Galaxy 
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption large_bold_orange color-white skewfromright customout size-60 weight-800 uppercase"
                                    data-x="0"
                                    data-y="200"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="800"
                                    data-start="1700"
                                    data-easing="Power4.easeOut"
                                    data-endspeed="300"
                                    data-endeasing="Power1.easeIn"
                                    data-captionhidden="on"
                                    style="z-index: 7">S7 edge
                                </div>

                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption large_bold_orange size-14 color-white skewfromright customout transform-none"
                                    data-x="0"
                                    data-y="310"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="800"
                                    data-start="1800"
                                    data-easing="Power4.easeOut"
                                    data-endspeed="300"
                                    data-endeasing="Power1.easeIn"
                                    data-captionhidden="on"
                                    style="z-index: 7">Samsung Galaxy S7 edge, le grand frère tout aussi dominateur
                                </div>

                                <!-- LAYER NR. 7 -->
                                <div class="tp-caption skewfromright customout link-1 height-50"
                                    data-x="0"
                                    data-y="390"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="800"
                                    data-start="1500"
                                    data-easing="Power4.easeOut"
                                    data-endspeed="300" 
                                    data-endeasing="Power1.easeIn"
                                    data-captionhidden="on"
                                    style="z-index: 8"><a href="#" title="View Now">voir detail</a>
                                </div>

                                <div class="tp-caption skewfromleft customout link-1 link-2 icons icons-v2 height-50"
                                    data-x="120"
                                    data-y="393"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="1000"
                                    data-start="1500"
                                    data-easing="Power4.easeOut"
                                    data-endspeed="300" 
                                    data-endeasing="Power1.easeIn"
                                    data-captionhidden="on"
                                    style="z-index: 8"><a href="article/show/27" title="link"></a>
                                </div>

                               
        
                                <!-- LAYER NR. 9 -->
                                <div class="tp-caption skewfromright customout"
                                    data-x="800"
                                    data-y="20"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="1000"
                                    data-start="1500"
                                    data-easing="Power4.easeOut"
                                    data-endspeed="300" 
                                    data-endeasing="Power1.easeIn"
                                    data-captionhidden="on"
                                    style="z-index: 1"><img src="../accueil/images/phone.png" alt="galaxy s7">
                                </div>
                            </li>
                            <!-- SLIDER --> 
                        </ul>
                        <div class="tp-bannertimer"></div>
                </div>
                <!-- End container -->
                </div>
            </div>           
        </div>         
        <!-- End Slide-Show -->
         
                    <div class="best-sellers slider-product proposes space-30 space-padding-tb-30" data-wow-duration="0.5s" data-wow-delay="500ms">
                        <div class="container">
                        <div class="title-text">
                            <h3><span>B</span>est proposes</h3>    
                        </div>

                        <div class="tab-container space-30">
                            <div id="tab2_01" class="tab-content2">

                                <div class="products">
                                    <div class="product">
                                        <a class="icon-cat headephone" href="#" title="headephone"></a>
                                        <a class="product-images" href="#" title="">
                                            <img class="primary_image" src="../articles/5.png" alt=""/>
                                        </a>
                                        <div class="wrap-title">
                                            <p class="product-title">Micro Casque Stéréo KOMC S31 - Noir</p>
                                            <p class="product-price"><span>prix: </span>22 TND</p>
                                            <ul class="description">
                                                <li>Micro Casque Stéréo KOMC S31 - Technologie de Connectivité: Filaire - Sensibilité Casque: 108 dB</li>
                                            </ul>
                                        </div>
                                        <!-- End wrap-title -->
                                        <div class="action">
                                            <a title="add-to-cart" href="article/show/28"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- End product -->
                                    <div class="product">
                                        <a class="icon-cat watch" href="#" title="watch"></a>
                                        <div class="wrap-title">
                                            <p class="product-title">Smartwatch Avec Caméra Bluetooth 3.0 Noir</p>
                                            <p class="product-price"><span>prix: </span>99 TND</p>
                                            <ul class="description">
                                                <li>Montre Connectée avec Caméra - Ecran Tactile 1.56" HD 2 doigts- Mémoire RAM: 128 Mo  - Stockage: 64 Mo extensibles   jusqu’à32 Go  - Connectivité Sans Fil: Bluetooth 3.0</li>
                                            </ul>
                                        </div>
                                        <!-- End wrap-title -->
                                        <a class="product-images" href="#" title="">
                                            <img class="primary_image" src="../articles/6.jpg" alt=""/>
                                        </a>
                                        <div class="action">
                                            <a title="add-to-cart" href="article/show/30"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- End product -->
                                    <div class="product">
                                        <a class="icon-cat laptop" href="#" title="laptop"></a>
                                        <a class="product-images" href="#" title="">
                                            <img class="primary_image" src="../articles/12.png" alt=""/>
                                        </a>
                                        <div class="wrap-title">
                                            <p class="product-title">Pc Portable ASUS VivoBooK 17 X705UB-BX120 i5 8è Gén 8Go 1To</p>
                                            <p class="product-price"><span>prix: </span>2119 TND</p>
                                            <ul class="description">
                                                <li>Ecran 17,3" HD - Processeur: Intel Core i5-8250U, 8éme Génération Mémoire RAM: 8 Go DDR4 - Disque Dur: 1 To SATA </li>
                                            </ul>
                                        </div>
                                        <!-- End wrap-title -->
                                        <div class="action">
                                            <a title="add-to-cart" href="article/show/29"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                        </div>
                                    </div>
                                    <!-- End product -->
                                </div>

                                <!-- End slider product tab -->
                            </div>
                        </div>
                        </div>
                        <!-- End container -->
                    </div>
                    <!-- End bes-sellers -->

          <div class="newsletter">
              <div class="container">
                <h3><a href="#" title="sign up">sign up</a> to newsletter</h3>
                <p>and receilve $20 coupon for first shopping</p>
                    <form action="#" method="get" accept-charset="utf-8">
                        <input type="text" onblur="if (this.value == '') {this.value = 'Enter your email';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter your emaill" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                        <button class="button button1" title="Subscribe" type="submit"></button>
                    </form>
              </div>
              <!-- End container -->
          </div>
          <!-- End newsletter -->
          <footer id="footer">
              <div class="container">
                <div class="row footer-top">
                    <div class="col-md-5">
                        <a class="logo" href="#" title="logo"><img src="../assets/images/Dana-menu-logo.png" alt="Logo"></a>
                        <p class="italic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        <div class="infomation">
                            <p><i class="zmdi zmdi-pin"></i>PO Box CT16122 Collins Street West, Victoria 8007, Australia.</p>
                            <p><i class="zmdi zmdi-phone"></i>+81 (2) 345 6789</p>
                            <p><i class="zmdi zmdi-email"></i>engotheme@gmail.com</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Quick link</h3>
                        <ul class="menu">
                            <li><a href="#" title="Headphone">Headphone</a></li>
                            <li><a href="#" title="Smart watch">Smart watch</a></li>
                            <li><a href="#" title="Smartphone">Smartphone</a></li>
                            <li><a href="#" title="Video game & consoles">Video game & consoles</a></li>
                            <li><a href="#" title="Laptop">Laptop</a></li>
                            <li><a href="#" title="Televison">Televison</a></li>
                            <li><a href="#" title="Home">Home</a></li>
                            <li><a href="#" title="About us">About us</a></li>
                            <li><a href="#" title="Blog">Blog</a></li>
                            <li><a href="#" title="Service">Service</a></li>
                            <li><a href="#" title="Contact us">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Customer care</h3>
                        <ul class="menu">
                            <li><a href="#" title="My account">My account</a></li>
                            <li><a href="#" title="Order tracking">Order tracking</a></li>
                            <li><a href="#" title="wish list">wish list</a></li>
                            <li><a href="#" title="customer service">customer service</a></li>
                            <li><a href="#" title="Returns/ Exchage">Returns/ Exchage</a></li>
                            <li><a href="#" title="FAQS">FAQS</a></li>
                            <li><a href="#" title="Product support">Product support</a></li>
                        </ul>
                    </div> 
                </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                    <div class="col-md-8">
                         <p>&copy; COPYRIGHT 2016 BY ENGOTHEME</p>
                         <a href="" title="facebook"><i class="zmdi zmdi-facebook"></i></a>
                         <a href="#" title="google"><i class="zmdi zmdi-google-plus"></i></a>
                         <a href="#" title="instagram"><i class="zmdi zmdi-instagram"></i></a>
                         <a href="#" title="twitter"><i class="zmdi zmdi-twitter"></i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" title="Payment"><img src="../assets/images/Hermes-footer-payment.png" alt="payment"></a>
                    </div>
                </div>
              </div>
              <!-- End container -->
          </footer>
        <script type="text/javascript" src="../assets/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="../assets/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="../assets/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="../assets/js/wow.min.js"></script>
        <script type="text/javascript" src="../assets/js/store.js"></script>
    </body>
</html>

