{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" href="../assets/images/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/vendor/range-price.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/vendor/owl-slider.css"/>
        <title>Shop Listing 1</title>
    </head>
    <body>
        
        <header id="header" class="header-v3">
            <div id="topbar">
                <div class="container">
                    <div class="topbar-left">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                             <h3 style="  color: white;">logged in as <strong>{{ app.user.username }}</strong></h3>
                        {% endif %}
                    </div>
                    <!-- End topBar-left -->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <h2><a href={{ logout_url(key = null) }}>logout</a></h2>
                    {% else %}
                    <div class="topbar-right">
                        <div class="wrap-sign-in cart dropdown">
                        <a class="sign-in" href="#" title="user"><i class="zmdi zmdi-account"></i>My account</a>
                            <div class="register-list cart-list dropdown-menu ">

                                <h3>Login</h3>
                                <div class="acc-pass">
                                {{ render(controller('FOSUserBundle:Security:login')) }}
                                </div>
                                <h4>or Login to</h4>
                                <div class="social">
                                    <a class="facebook" href="#" title="facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    <a class="twitter" href="#" title="twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    <a class="instagram" href="#" title="instagram"><i class="zmdi zmdi-instagram"></i></a>
                                    <a class="google" href="#" title="google"><i class="zmdi zmdi-google-glass"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- End topbar-right -->
                </div>
                </div>
                <!-- End container -->
            </div>
            <!-- End Top Bar -->
            <div class="header-top">
                    <div class="container">
                    <div class="inner-container">
                        <p class="icon-menu-mobile"><span class="icon-bar"></span></p>
                        <div class="logo"><a href="#" title="Dana-Logo"><img src="../assets/images/Dana-menu-logo.png" alt="Dana-Logo"></a></div>
                        <div class="menu-top">
                            <ul class="nav-top">
                                <li class="level1"><a href="{{ path('home')}}" title="Hopme">Home</a>
                                </li>
                                <li class="level1"><a href="#" title="Hopme">Shop</a>

                                </li>
                                <li class="level1 active"><a href="#" title="Blog">Blog</a>

                                </li>
                                <li class="level1"><a href="#" title="Page">Page</a>
                                </li>
                            </ul>
                        </div>
                        <div class="search">
                            <div class="search-form">
                                <form action="#" method="get">
                                    <!-- End search Select -->
                                    <input type="text" autocomplete="off" placeholder="search Keywork " value="" class="ajax_autosuggest_input ac_input" name="s">
                                    <button type="submit" class="icon-search">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- End search -->
                    </div>  
                    <!-- End inner container -->
                    </div>
                    <!-- End container -->
                </div>
                <!-- End header-top -->
                <nav class="menu-mobile">
                    <ul class="nav">
                        <li class="level1"><a href="#" title="Headphone">Headphone</a>
                            
                        </li>
                        <li class="level1">
                            <a href="#" title="Smart watch">Smart watch</a>
                        </li>
                        <li class="level1"><a href="#" title="Smart phone ">Smart phone </a></li>
                        <li class="level1"><a href="#">game consoles</a></li>
                        <li class="level1"><a href="#" title="Laptop">Laptop</a></li>
                        <li class="level1"><a href="#" title="televison">televison</a></li>
                    </ul>
                </nav>
                <!-- End menu  mobile -->
                <nav class="mega-menu">
                <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                  <ul class="nav navbar-nav" id="navbar">
                    <li class="level1 active"><a href="#" title="Headphone">Headphone</a>
                        
                    </li>
                    
                    <li class="level1"><a href="#" title="Smart phone ">Smart phone </a></li>
                    <li class="level1"><a href="#" title="game">game consoles</a></li>
                    <li class="level1"><a href="#" title="Laptop">Laptop</a></li>
                    <li class="level1"><a href="#" title="televison">televison</a></li>
                  </ul>
                  <div class="menu-icon-right">
                    <div class="cart dropdown">
                    <a class="icon-cart" href="#" title="Cart">
                        <i class="zmdi zmdi-shopping-cart-plus"></i>
                        <span class="cart-count">{{nbpanier}}</span>
                    </a>
                    <div class="cart-list dropdown-menu">
                        <ul class="list">
                             {% for panier in paniers %}
                                    
                            <li>
                               {% for panier in panier.Article %}
                                <a href="#" title="" class="cart-product-image"><img src="../uploads/{{ panier.image }} "alt="Product"></a>
                                <div class="text">
                                    <p class="product-name">{{ panier.nom }}</p>
                                    <p class="product-price">{{ panier.prix }}</p>
                                </div>
                                {% endfor %}
                            </li> 
                            
                        {% endfor %}                             
                        </ul>
                        <p class="total"><span>Total cost</span> $1121.98</p>
                        <a class="checkout" href="#" title="view cart">view cart</a>
                        <a class="checkout bg-black" href="#" title="check out">Check out</a>
                    </div>
                </div>
                  </div>
                  </div>
                  <!-- End container -->
                </nav>
                <!-- End mega menu -->
        </header><!-- /header -->
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    
                </ul>
            </div>
            <!-- End container -->
        </div>  
          
                    <script type="text/javascript">
                        var trigger = $('.discount_selector');
                        var list = $('.discount-list');
                        var list_li = $('.discount-list li');
                        trigger.click(function() {
                            trigger.toggleClass('active');
                            list.slideToggle(200);
                        });
                        // this is optional to close the list while the new page is loading
                        list_li.click(function() {
                            trigger.click();
                            trigger.text($(this).text());
                        });
                    </script>  
                </aside>
            </div>
            <!-- End Secondary -->
            <div id="primary" class="col-xs-12 col-md-9">     
                    <!-- End Banner Grid -->
                    
                    <!-- End ordering -->
                    <div class="products grid_full grid_sidebar">
                         {% for article in articles %}
                            <div class="item-inner">
                                <div class="product">
                                   
                                    <p class="product-title">{{ article.nom }}</p>
                                    <p class="product-price"><span>price: </span>{{ article.prix }} DT</p>
                                    <a class="product-images" href="#" title="">
                                        <img class="primary_image" src="../uploads/{{ article.image }}" alt="images"/>
                                        <img class="secondary_image" src="../uploads/{{ article.image }}" alt="images"/>

                                    </a>
                                    <p class="description">
                                    {{ article.description }}</p>
                                    <div class="action">
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <a class="refresh" href="{{ path('article_edit', {'id': article.id}) }}" title="edit"><i class="zmdi zmdi-refresh-sync"></i></a>
                                        {% endif %}
                                        <a href="{{ path('article_show', {'id': article.id}) }}" title="afficher"><i class="zmdi zmdi-favorite-outline" ></i></a>
                                        <a href="#" title="ajouter"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                    <!-- End product-content products  -->
                    

                    <!-- End pagination-container -->
            </div>
            <!-- End Primary -->
            

          <!-- End product-footer -->
          
          <!-- End Brand Container -->
          <div class="newsletter">
              <div class="container">
                <h3><a href="#" title="sign up">sign up</a> to newsletter</h3>
                <p>and receilve $20 coupon for first shopping</p>
                    <form action="#" method="get" accept-charset="utf-8">
                        <input type="text" onblur="if (this.value == '') {this.value = 'Enter your email';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter your emaill" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                        <button class="button button1" title="Subscribe" type="submit"></button>
                    </form>
              </div>
              <!-- End container -->
          </div>
          <!-- End newsletter -->
          <footer id="footer">
              <div class="container">
                <div class="row footer-top">
                    <div class="col-md-5">
                        <a class="logo" href="#" title="logo"><img src="assets/images/Dana-menu-logo.png" alt="Logo"></a>
                        <p class="italic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        <div class="infomation">
                            <p><i class="zmdi zmdi-pin"></i>PO Box CT16122 Collins Street West, Victoria 8007, Australia.</p>
                            <p><i class="zmdi zmdi-phone"></i>+81 (2) 345 6789</p>
                            <p><i class="zmdi zmdi-email"></i>engotheme@gmail.com</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Quick link</h3>
                        <ul class="menu">
                            <li><a href="#" title="Headphone">Headphone</a></li>
                            <li><a href="#" title="Smart watch">Smart watch</a></li>
                            <li><a href="#" title="Smartphone">Smartphone</a></li>
                            <li><a href="#" title="Video game & consoles">Video game & consoles</a></li>
                            <li><a href="#" title="Laptop">Laptop</a></li>
                            <li><a href="#" title="Televison">Televison</a></li>
                            <li><a href="#" title="Home">Home</a></li>
                            <li><a href="#" title="About us">About us</a></li>
                            <li><a href="#" title="Blog">Blog</a></li>
                            <li><a href="#" title="Service">Service</a></li>
                            <li><a href="#" title="Contact us">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Customer care</h3>
                        <ul class="menu">
                            <li><a href="#" title="My account">My account</a></li>
                            <li><a href="#" title="Order tracking">Order tracking</a></li>
                            <li><a href="#" title="wish list">wish list</a></li>
                            <li><a href="#" title="customer service">customer service</a></li>
                            <li><a href="#" title="Returns/ Exchage">Returns/ Exchage</a></li>
                            <li><a href="#" title="FAQS">FAQS</a></li>
                            <li><a href="#" title="Product support">Product support</a></li>
                        </ul>
                    </div> 
                </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                    <div class="col-md-8">
                         <p>&copy; COPYRIGHT 2016 BY ENGOTHEME</p>
                         <a href="" title="facebook"><i class="zmdi zmdi-facebook"></i></a>
                         <a href="#" title="google"><i class="zmdi zmdi-google-plus"></i></a>
                         <a href="#" title="instagram"><i class="zmdi zmdi-instagram"></i></a>
                         <a href="#" title="twitter"><i class="zmdi zmdi-twitter"></i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" title="Payment"><img src="../assets/images/Hermes-footer-payment.png" alt="payment"></a>
                    </div>
                </div>
              </div>
              <!-- End container -->
          </footer>
        <script type="text/javascript" src="../assets/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="../assets/js/price-range.js"></script>
        <script type="text/javascript" src="../assets/js/wow.min.js"></script>
        <script type="text/javascript">
          jQuery("#Slider1").slider({ 
            from: 0,
            to: 1000,
            step: 100,
            smooth: true,
            round: 0,
            skin: "plastic"
            });
        </script>
        <script type="text/javascript" src="../assets/js/store.js"></script>
    </body>
</html>


{% endblock %}
